@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.has-fade {
  visibility: hidden; }

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
  animation: fade-in 300ms ease-in-out forwards; }

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
  animation: fade-out 300ms ease-in-out forwards; }

@-webkit-keyframes shape-1-lg {
  from {
    top: 500px;
    left: -10px;
    -webkit-transform: scale(20%);
    transform: scale(20%);
    opacity: 45%; }
  50% {
    top: -10px;
    left: 500px;
    -webkit-transform: scale(60%);
    transform: scale(60%);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 5%; }
  70% {
    -webkit-transform: scale(30%);
    transform: scale(30%);
    opacity: 80%; }
  99% {
    -webkit-transform: scale(1%);
    transform: scale(1%);
    opacity: 10%; }
  to {
    top: 700px;
    left: 1200px;
    -webkit-transform: scale(1%);
    transform: scale(1%);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-1-lg {
  from {
    top: 500px;
    left: -10px;
    -webkit-transform: scale(20%);
    transform: scale(20%);
    opacity: 45%; }
  50% {
    top: -10px;
    left: 500px;
    -webkit-transform: scale(60%);
    transform: scale(60%);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 5%; }
  70% {
    -webkit-transform: scale(30%);
    transform: scale(30%);
    opacity: 80%; }
  99% {
    -webkit-transform: scale(1%);
    transform: scale(1%);
    opacity: 10%; }
  to {
    top: 700px;
    left: 1200px;
    -webkit-transform: scale(1%);
    transform: scale(1%);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes shape-1-sm {
  from {
    top: 500px;
    left: -10px;
    -webkit-transform: scale(20%);
    transform: scale(20%);
    opacity: 45%; }
  50% {
    top: -10px;
    left: 200px;
    -webkit-transform: scale(60%);
    transform: scale(60%);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    opacity: 5%; }
  85% {
    -webkit-transform: scale(30%);
    transform: scale(30%);
    opacity: 80%; }
  99% {
    -webkit-transform: scale(1%);
    transform: scale(1%);
    opacity: 10%; }
  to {
    top: 700px;
    left: 1200px;
    -webkit-transform: scale(1%);
    transform: scale(1%);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-1-sm {
  from {
    top: 500px;
    left: -10px;
    -webkit-transform: scale(20%);
    transform: scale(20%);
    opacity: 45%; }
  50% {
    top: -10px;
    left: 200px;
    -webkit-transform: scale(60%);
    transform: scale(60%);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    opacity: 5%; }
  85% {
    -webkit-transform: scale(30%);
    transform: scale(30%);
    opacity: 80%; }
  99% {
    -webkit-transform: scale(1%);
    transform: scale(1%);
    opacity: 10%; }
  to {
    top: 700px;
    left: 1200px;
    -webkit-transform: scale(1%);
    transform: scale(1%);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes shape-2-lg {
  from {
    right: -50px;
    opacity: 10%; }
  30% {
    opacity: 40%; }
  60% {
    opacity: 20%; }
  to {
    right: 1500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-2-lg {
  from {
    right: -50px;
    opacity: 10%; }
  30% {
    opacity: 40%; }
  60% {
    opacity: 20%; }
  to {
    right: 1500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes shape-2-sm {
  from {
    right: -50px;
    -webkit-transform: scale(80%);
    transform: scale(80%);
    opacity: 1%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  30% {
    opacity: 40%; }
  60% {
    opacity: 20%; }
  99% {
    -webkit-transform: scale(10%);
    transform: scale(10%); }
  to {
    -webkit-transform: scale(8%);
    transform: scale(8%);
    right: 500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-2-sm {
  from {
    right: -50px;
    -webkit-transform: scale(80%);
    transform: scale(80%);
    opacity: 1%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  30% {
    opacity: 40%; }
  60% {
    opacity: 20%; }
  99% {
    -webkit-transform: scale(10%);
    transform: scale(10%); }
  to {
    -webkit-transform: scale(8%);
    transform: scale(8%);
    right: 500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes shape-3-lg {
  from {
    right: -50px;
    bottom: 500px;
    opacity: 10%; }
  30% {
    opacity: 40%; }
  60% {
    opacity: 60%; }
  to {
    right: 1500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-3-lg {
  from {
    right: -50px;
    bottom: 500px;
    opacity: 10%; }
  30% {
    opacity: 40%; }
  60% {
    opacity: 60%; }
  to {
    right: 1500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes shape-3-sm {
  from {
    right: -50px;
    bottom: 500px;
    opacity: 10%; }
  30% {
    opacity: 25%; }
  60% {
    opacity: 40%; }
  to {
    right: 500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes shape-3-sm {
  from {
    right: -50px;
    bottom: 500px;
    opacity: 10%; }
  30% {
    opacity: 25%; }
  60% {
    opacity: 40%; }
  to {
    right: 500px;
    opacity: 2%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  margin: 0;
  padding: 0;
  line-height: 1.3; }
  .body.noscroll {
    overflow: hidden; }

a, a:visited, a:hover {
  text-decoration: none; }

strong {
  font-weight: bold; }

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem; }
  @media (max-width: 39.9375em) {
    h1 {
      font-size: 1.125rem; } }

.row {
  padding-left: 1.5em;
  padding-right: 1.5em; }

section {
  scroll-margin-top: 51px; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex-jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex-jc-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex-ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  color: #1C242A;
  background-color: #f3f5f4;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 80%; }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.header.open {
  display: block; }
  .header.open .header__toggle > span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header.open .header__toggle > span:nth-child(2) {
    opacity: 0; }
  .header.open .header__toggle > span:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 3.1875rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d3d4), to(transparent));
  background-image: -webkit-linear-gradient(#d2d3d4, transparent);
  background-image: -o-linear-gradient(#d2d3d4, transparent);
  background-image: linear-gradient(#d2d3d4, transparent);
  z-index: 10000; }

.header nav {
  background-color: #f3f5f4;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 10000; }

.header__logo {
  width: 1px;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #a4a7aa;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
  -ms-transform-origin: 3px 1px;
  transform-origin: 3px 1px; }
  .header__toggle > span:not(:last-child) {
    margin-bottom: 5px; }

.header .sticky {
  background-color: #fff; }
  .header .sticky .header__logo {
    visibility: visible;
    width: 80px; }

.header__menu {
  background-color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  border-radius: 5px;
  top: 4.5rem;
  right: 2rem;
  left: 2rem;
  z-index: 10000; }
  .header__menu a {
    display: block;
    padding: 0.625rem;
    color: #1C242A;
    text-align: center; }

.header__links a {
  font-size: 0.875rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .header__links a:not(:last-child) {
    margin-right: 16px; }

section#masthead {
  background-color: #f3f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  section#masthead .img-container {
    /*background-color: pink*/
    z-index: 3; }
  section#masthead img.logo, section#masthead svg.logo {
    z-index: 3; }
    @media (min-width: 900px) {
      section#masthead img.logo, section#masthead svg.logo {
        width: 37vw; } }
    @media (max-width: 899px) {
      section#masthead img.logo, section#masthead svg.logo {
        width: 50vw; } }
  section#masthead .brand-descrip {
    font-size: 1.25em;
    text-align: center;
    margin-top: 0.6rem;
    line-height: 1.25rem;
    max-width: 19rem;
    letter-spacing: 0.15em;
    z-index: 3; }
    @media (max-width: 299px) {
      section#masthead .brand-descrip {
        font-size: 0.8em;
        letter-spacing: 0.1em; } }
    @media (min-width: 300px) and (max-width: 499px) {
      section#masthead .brand-descrip {
        font-size: 0.9em; } }
    @media (min-width: 500px) and (max-width: 899px) {
      section#masthead .brand-descrip {
        font-size: 1.15em; } }
    section#masthead .brand-descrip span.soluciones {
      -webkit-animation: 3s fade-in;
      animation: 3s fade-in; }
    section#masthead .brand-descrip span.digitales {
      -webkit-animation: 5.5s fade-in;
      animation: 5.5s fade-in; }
  section#masthead .shapes {
    overflow: hidden;
    display: block; }
    section#masthead .shapes img {
      position: absolute;
      z-index: 1; }
    section#masthead .shapes .triangle-1 {
      left: 2em;
      bottom: 2em; }
      @media (min-width: 40em) {
        section#masthead .shapes .triangle-1 {
          -webkit-animation: shape-1-lg 15s linear infinite;
          animation: shape-1-lg 15s linear infinite; } }
      @media (max-width: 39.9375em) {
        section#masthead .shapes .triangle-1 {
          -webkit-animation: shape-1-sm 15s linear infinite;
          animation: shape-1-sm 15s linear infinite; } }
    section#masthead .shapes .diamond-1 {
      right: -100px;
      bottom: 1em; }
      @media (min-width: 40em) {
        section#masthead .shapes .diamond-1 {
          -webkit-animation: shape-2-lg 13s linear infinite;
          animation: shape-2-lg 13s linear infinite; } }
      @media (max-width: 39.9375em) {
        section#masthead .shapes .diamond-1 {
          -webkit-animation: shape-2-sm 8s linear infinite;
          animation: shape-2-sm 8s linear infinite; } }
    section#masthead .shapes .diamond-2 {
      right: -100px;
      bottom: 1em;
      -webkit-transform: scale(20%);
      -ms-transform: scale(20%);
      transform: scale(20%); }
      @media (min-width: 40em) {
        section#masthead .shapes .diamond-2 {
          -webkit-animation: shape-3-lg 20s linear infinite;
          animation: shape-3-lg 20s linear infinite; } }
      @media (max-width: 39.9375em) {
        section#masthead .shapes .diamond-2 {
          -webkit-animation: shape-3-sm 12s linear infinite;
          animation: shape-3-sm 12s linear infinite; } }

section#hola {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }
  @media (min-width: 40em) {
    section#hola {
      border-bottom: 2px #FF5851 solid; } }
  section#hola em {
    font-weight: 600; }
  section#hola .color {
    background-color: #FF5851;
    width: 100px;
    height: 100%; }
    @media (max-width: 39.9375em) {
      section#hola .color {
        display: none; } }
  section#hola .bg-row {
    height: 100%;
    width: calc( 100vw - 100px);
    padding-left: 20px;
    padding-right: 20px;
    background: #f3f5f4 url("../img/bg/hola.jpg") no-repeat;
    background-size: cover;
    background-position: center 60%; }
    @media (max-width: 39.9375em) {
      section#hola .bg-row {
        width: 100vh; } }
    @media (min-width: 64em) {
      section#hola .bg-row {
        background-position: center 65%; } }
  section#hola h1 {
    color: #FF5851;
    font-size: 2.5rem;
    position: absolute;
    top: 80px;
    left: 30px; }
    @media (max-width: 39.9375em) {
      section#hola h1 {
        font-size: 1.75rem; } }
    @media (min-width: 40em) {
      section#hola h1 {
        top: 60px;
        left: 35px; } }
    section#hola h1 .accent {
      color: white; }
      @media (max-width: 39.9375em) {
        section#hola h1 .accent {
          color: #FF5851; } }
  section#hola h2 {
    color: #FF5851;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.3125rem;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em; }
    @media (max-width: 39.9375em) {
      section#hola h2 {
        margin-top: 11em;
        font-size: 1.125rem; } }

section#servicios {
  padding: 93px 20px 93px 20px;
  background: white; }
  section#servicios h1 {
    text-align: center;
    color: #FF5851;
    padding-bottom: 57px; }
  section#servicios .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (max-width: 39.9375em) {
      section#servicios .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  section#servicios .servicio {
    text-align: center;
    max-width: 15rem;
    min-width: 10rem;
    line-height: 1.3em;
    margin-left: 1em;
    margin-right: 1em; }
    @media (max-width: 39.9375em) {
      section#servicios .servicio {
        margin-bottom: 3em; } }
    section#servicios .servicio h2 {
      font-weight: 400;
      font-size: 1.5rem;
      padding-bottom: 0.45rem; }
      @media (max-width: 63.9375em) {
        section#servicios .servicio h2 {
          font-size: 1.25rem; } }
    section#servicios .servicio p {
      font-size: 1.125rem; }
      @media (max-width: 63.9375em) {
        section#servicios .servicio p {
          font-size: 0.9rem; } }
    section#servicios .servicio svg {
      padding-bottom: 0.45rem;
      height: auto; }
      section#servicios .servicio svg path {
        fill: #00B3CB; }
      section#servicios .servicio svg.bi-brush {
        width: 2.5rem; }
      section#servicios .servicio svg.bi-braces {
        width: 3.3rem; }
    section#servicios .servicio:nth-child(2) svg {
      padding-bottom: 4px; }

section#promo {
  padding: 110px 20px;
  background: #FF5851;
  color: #f3f5f4;
  text-align: center; }
  section#promo h2 {
    font-size: 24px;
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    line-height: 1.3em; }
    @media (max-width: 39.9375em) {
      section#promo h2 {
        font-size: 1.125rem; } }
  section#promo a.button {
    padding: 0.25rem 3rem;
    border: #f3f5f4 1px solid;
    border-radius: 40px; }
  @media (max-width: 500px) {
    section#promo .modal {
      font-size: 12px; }
      section#promo .modal .modal-content {
        margin-top: 3.75rem; } }
  section#promo .modal .modal-content .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (max-width: 63.9375em) {
      section#promo .modal .modal-content .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  section#promo .modal .modal-content .combo {
    border: 1px solid #d2d3d4;
    background-color: white;
    border-radius: 0.5em;
    padding: 2em 1em;
    line-height: 1.4em;
    margin-right: 1em;
    margin-left: 1em; }
    @media (max-width: 63.9375em) {
      section#promo .modal .modal-content .combo {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        width: 18.625em;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 64em) {
      section#promo .modal .modal-content .combo {
        min-width: 18.625em; } }
    section#promo .modal .modal-content .combo .price {
      color: #00B3CB;
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 0.15em; }
      section#promo .modal .modal-content .combo .price .currency {
        font-size: 1.125rem; }
    section#promo .modal .modal-content .combo h3 {
      margin-bottom: 0.5em;
      font-weight: bold; }

section#contacto {
  padding: 110px 20px;
  background: #f3f5f4;
  color: #FF5851;
  text-align: center;
  line-height: 1.3em; }
  section#contacto .link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0.5rem; }
    section#contacto .link-wrapper svg {
      margin-right: 0.3rem;
      width: 1.5rem; }
  section#contacto .link-wrapper-whatsapp p {
    padding-top: 0.125rem; }
  section#contacto h2 {
    font-size: 24px;
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    line-height: 1.3em; }
    @media (max-width: 39.9375em) {
      section#contacto h2 {
        font-size: 1.125rem; } }

section.footer {
  font-size: 0.8rem;
  margin: 0;
  padding: 20px;
  background: #495055;
  color: white; }
  section.footer p {
    text-align: center; }
