.header
    nav
        padding: 15px

    &__logo
        width: 90px


    &__menu
        span
            display: block
            width: 26px
            height: 2px
            background: $theme-dark-20

            &:not(:last-child)
                margin-bottom: 5px
        
    &__links
        a
            font-size: $font-sm
                