section#hola
    //padding: 50px 20px 50px 20px
    height: 90vh
    display: flex
    flex-direction: row
    position: relative
    @include breakpoint-up(medium)
        border-bottom: 2px $theme-primary solid
    

    .color
        background-color: $theme-primary
        width: 100px
        height: 100%
        @include breakpoint-down(small)
            display: none

    .bg-row
        height: 100%
        width: calc( 100vw - 100px )
        @include breakpoint-down(small)
            width: 100vh
        background: $theme-soft url("../img/bg/hola.jpg") no-repeat
        background-size: cover
        background-position: center 60%
        @include breakpoint-up(large)
            background-position: center 65%

    h1
        color: $theme-primary
        text-transform: uppercase
        font-size: $font-lg
        font-weight: bold
        position: absolute
        top: 30px
        left: 30px
        @include breakpoint-up(medium)
            top: 45px
            left: 48px
        
        .accent
            color: white
            @include breakpoint-down(small)
                color: $theme-primary
            
