section#masthead
    //background-color: $white // temp
    background-image: url("../img/bg/bg-plano-sipa.jpg")
    background-size: cover
    display: flex
    justify-content: center /* align horizontal */
    align-items: center /* align vertical */
    flex-direction: column
    height: 100vh
    

    img.logo-md
        @include breakpoint-up(medium)
            //background-color: red
            width: 30vw
        @include breakpoint-down(small)
            display: none
    img.logo-sm
        @include breakpoint-down(small)
            //background-color: green
            width: 30vw
        @include breakpoint-up(medium)
            display: none


        //adapt media queries if needed
        //@media(min-width: 900px)
        //    width: 65vh
        //@media(max-width: 899px)
        //    width: 45vw
    h1.logo
        text-transform: none
        color: $theme-primary
        text-align: center
    .brand-descrip
        text-align: center
        margin-top: 0.6rem
    