section#servicios
    padding-top: 4em
    padding-bottom: 4em
    background-color: $theme-soft
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(252,252,252,1) 100%)
    color: $theme-dark2

    .card-wrapper
        @include breakpoint-up(medium)
            display: flex
            flex-direction: column
        @include breakpoint-down(small)
            display: flex
            flex-direction: column
    
        .card
            background: white
            margin: 0.6em
            text-align: center
            padding: 3rem 1.5rem
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
            transition: 0.3s
            
            &:hover
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
            @include breakpoint-down(small)
                padding: 1.5em 1.2em
            @include breakpoint-up(medium)
                display: flex
                flex-direction: row
                width: 37.2em
                padding: 1.2em 1.2em 1.2em 1.2em
            &-1
                //background-color: #e1d7f0
            &-2
                //background-color: #ecfff1
            &-3
                //background-color: #f5dbdb
            
            .img-wrapper
                //background: cyan
                @include breakpoint-up(medium)
                    min-width: 5.5rem

            img
                width: 4em
                max-width: 100%
                @include breakpoint-up(medium)
                    width: 4.5em
                    margin-top: 0.8em
                @include breakpoint-down(small)
                    width: 3.3em

            .info-wrapper
                //background: #99ffcc
                @include breakpoint-up(medium)
                    text-align: left
                    padding-left: 1em
                    .btn-wrapper
                        margin-top: 0.5em
                        justify-content: flex-start
                
                p
                    line-height: 1.5

            h3
                font-size: 1.2rem
                font-weight: 600
                margin-top: 0.7rem
                margin-bottom: 0.7rem
