section#header-industrial
    background-image: url("../img/headers/sipa-trabajos-techos.jpg")
    background-size: cover
    //background-position-y: -850px 
    display: flex
    justify-content: center /* align horizontal */
    align-items: center /* align vertical */
    flex-direction: column
    height: 20em
    padding-left: 1.25em
    padding-right: 1.25em
    

    img.logo
        width: 30vw