section#trabajos
    padding-top: 5em
    padding-bottom: 5em
    background-color: $theme-soft
    color: $theme-dark
    
    .owl-carousel .owl-dots .owl-dot.active
        background: $theme-primary