@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.body {
  margin: 0; }

.row {
  padding-left: 1.5em;
  padding-right: 1.5em; }

section#masthead {
  background-color: #f3f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }
  section#masthead .img-container {
    /*background-color: pink*/ }
  @media (min-width: 900px) {
    section#masthead img.logo {
      width: 40vw; } }
  @media (max-width: 899px) {
    section#masthead img.logo {
      width: 50vw; } }

section#hola {
  padding: 50px 20px 50px 20px;
  background: #d2d3d4;
  height: 50vh; }

section#servicios {
  padding: 50px 20px 50px 20px;
  background: white;
  height: 50vh; }

section#promo {
  padding: 50px 20px 50px 20px;
  background: #FF5851;
  height: 50vh; }

section#contacto {
  padding: 50px 20px 50px 20px;
  background: #f3f5f4;
  height: 50vh; }

section.footer {
  margin: 0;
  padding: 20px;
  background: #495055;
  color: white; }
